[2016-12-23 09:22] hbs opened #13 "Add a simple HTTP service which handles put/get in plain text"
Grafana integration is great but JSON is not the best choice to integrate Beringei into other environments.

Having an HTTP based service which accepts as input content in the form

key value [timestamp]

and outputs a similar format when queried would be a great basis for building libraries in various languages.

This addition would allow for immediate integration in Warp 10 (www.warp10.io) to pr

[2016-12-23 09:47] drscre opened #14 "[question] How does it compare to Prometheus?"

[2017-01-01 14:32] burmanm opened #17 "Differences to original Gorilla paper.."
Would it be possible to document the possible differences to the original Gorilla paper with potentially some explanation also why you opted to modify the original algorithm/implementation?

For example the timestamp encoding difference, where the implementation uses the "0" value also to improve encoding efficiency ([-64,64]), instead of the paper described [-63,64] where 0 value is ignored.

And

[2017-01-03 16:27] jteller commented on #17
We won't put a _lot_ of effort into this, because the people currently working on the code, the main author of the paper (me), and much of the code's original author are disjoint sets of people. I'll put some comments in the code for the things that I know have changed though.

The particular difference you pointed out looks to be due to author error. In other words, my bad. My reading of the code

[2017-01-03 22:01] scottfranklin commented on #14
The first big difference is scope. Prometheus is a full-featured monitoring solution that tracks metadata and runs complex queries and detectors, while Beringei is just a data store with put and get methods.

The other big difference is that Beringei stores everything in memory. Data is persisted to disk to allow the service to restart with minimal data loss, but Beringei requires enough memory to

[2017-01-03 23:52] scottfranklin commented on #17
To clarify a bit, there have been no changes to the compression algorithm since the paper was written. Any differences you see are errors in the paper.
Migration from one compression algorithm to another is a bit of a pain, and so we haven't spent much time looking for improvements to @tuomaspelkonen's original version.

Were we *have* made significant changes is in the service itself, focused pri

[2017-01-09 10:16] drscre commented on #14
I guess, if you give Prometheus enough memory to keep 1 day of metric data, it will cache all this metric data in memory and behave similar to Beringei.

It would be interesting to see benchmark results.

[2017-01-09 16:48] fengyuncrawl commented on #14
@scottfranklin I think the Prometheus can't compare with Beringei,Beringei only support full memory ,it's important value is that the timestamp encode and value encode ,because bit encoding is most save  storage, Frankly speaking,I don‘t care metrics query performance ,its not database!

[2017-01-13 22:51] cgthayer commented on #17
@burmanm  -63 can fit into 7 bits so that was probably the intent whereas once decompressed it makes sense to use a regular 8-bit byte (short) or a signed long... is there a particular line of code you're thinking of?
I'm looking at https://github.com/facebookincubator/beringei/blob/master/beringei/lib/TimeSeriesStream.cpp#L143

[2017-01-14 14:08] burmanm commented on #17
@cgthayer Well, I was actually referring to the lines above it (134-137). Yes, 7 bits can store [-64,-1] and [0,63], but as the value can't be 0 (it will fall to previous if clause), you can reuse that and think it as [1,64].

And completely unrelated, no need for long as the maximum delta is 14 bits in a single block (in this implementation).

[2017-01-14 15:22] dgryski commented on #17
I had two fixes in my implementation of the paper:
https://github.com/dgryski/go-tsz/commit/2d496e2f4e151a0f31ef9679d26bf07cd30508eb

and

https://github.com/dgryski/go-tsz/commit/918e888e1d33760f5ab18e41cab3857c0037abfe

[2017-01-17 17:15] kiranisaac commented on #13
@hbs Could verify that https://github.com/facebookincubator/beringei/pull/18 has the required has the right input/output format for integration with Warp 10?

[2017-01-18 07:44] cbanek opened #19 "Build break"
After pulling down the repo to play around with this, I used the docker container to attempt to build everything, and hit the following build break (also on CI):

https://circleci.com/gh/facebookincubator/beringei/6

Looks like commit 9ae0dde2faee751d1fe3933fe159835d36bdd906 updating the path for this header is relying on later versions of the dependent repos than are pinned in  setup_ubuntu.sh

N

[2017-01-18 07:53] kiranisaac commented on #19
@cbanek: Thanks for reporting this issue! We are aware of this issue. I am working on upgrading the  wangle & fbthrift to version 2017.01.16. Unfortunately, folly doesn't have that version tag.

[2017-01-18 22:39] jteller commented on #19
445d0ed1e1bd5f2d2148fb9ef84f1c276b5c7f35 fixes this

[2017-01-19 05:45] cbanek commented on #19
Builds clean, thanks!

[2017-01-19 05:45] #19 closed

[2017-02-05 04:40] mikeb01 opened #21 "Granularity of timestamps"
The same beringei_{put,get} tools appear to use timestamps at second granularity.  Is this a system restriction for the system or can finer grained timestamps be used (e.g. millisecond)?

[2017-02-05 11:19] roldancer opened #22 "Grafana suport"
Hi, Is there any plugin available for Grafana? or any other visualization tool ?

Thanks.

[2017-02-05 13:49] bassdread opened #23 "Failure using setup_ubuntu.sh, "does NOT support .pth files""
On Ubuntu 16.10 on a clean git checkout of the master branch, running sudo ./setup_ubuntu.sh gives the following error:

[code]

Following the advice from the error I tried ```export PYTHONPATH=/usr/local/lib/python2.7/dist-packages/``` and still got the same error.

[2017-02-05 16:24] u382514 opened #24 "Fresh Ubuntu - Clang-Format?"
On a fresh install of an Ubuntu 16.04 the Setup file fails at clang-format-3.9. Possibly add/check the correct repositories at the beginning of the file to pull from (unless I'm doing something wrong then please correct me).

Thanks for this project!

[2017-02-06 03:51] kiranisaac commented on #24
clang-format-3.9 is not available on Ubuntu 16.04. Our tested/supported version is Ubuntu 16.10.

If you don't plan to contribute to Beringei, you can remove that line (21) from setup_ubuntu.sh. You don't need clang-format to build/deploy/test Beringei.

We recommend that you use Ubuntu 16.10.

[2017-02-06 04:22] linuxfood commented on #23
Huh. I'll see if I can repro in a fresh ubuntu 16.10 container. I don't think I've seen this issue before.

[2017-02-06 05:20] mlgood commented on #22
We have an integration with Grafana under beringei/tools/grafana_read_service.

[2017-02-06 05:35] linuxfood commented on #23
I wasn't able to repro on a fresh ubuntu 16.10 container. Can you provide some more details about your environment?

[2017-02-06 05:41] kiranisaac commented on #22
Yes, we have an integration with Grafana. You can run grafana_read_service and connect to it using the SimpleJson plugin https://grafana.net/plugins/grafana-simple-json-datasource.

We have only implemented the Query API. Search and Annotations have not been implemented.

[2017-02-06 08:15] ychtiger opened #25 "support redhat and macox"
Hi, my development environment is macos, can you support more script for other os?

[2017-02-06 08:21] linuxfood commented on #25
Unfortunately, we don't have enough resources to support more platforms right now.

For what it's worth, you can run beringei on CentOS/Redhat, we just don't support it right now. Mostly these distributions have libraries that are just too old. So, you'll need to build a lot more yourself.

[2017-02-06 08:26] linuxfood commented on #25
For MacOS, right now I'd guess that it's probably last on our list of platforms we want to support, since our target is large servers. The good news for you is that you can run docker on MacOS, and there is an Ubuntu16.10 container that will work great.

[2017-02-06 12:34] bassdread commented on #23
Hi, it's Desktop installation of Ubuntu. I recently upgraded from 16.04 to 16.10. Default Python is 2.7.12. I have tried the suggestions in the error with no success.

[2017-02-06 12:39] q96456 opened #26 "Data can persist?"
Data only in memory?

[2017-02-06 17:42] kiranisaac commented on #26
Data is persisted to disk to allow the service to restart with minimal data loss. The current version does not support a long term external data store. This should be easy to extend by reading from Beringei and writing to a permanent storage.

[2017-02-06 18:59] mlgood commented on #21
The system is written assuming unix timestamps (second granularity).  This assumption is threaded throughout the code.

[2017-02-06 19:19] kiranisaac commented on #23
@bassdread Could you try the temporary workaround mentioned in https://github.com/facebook/fbthrift/issues/193

[2017-02-06 19:42] at15 commented on #26
I think the Gorilla paper said data is written to HBase for long term storage, will Beringei consider adding the capability of writing to other storage or it should be done externally?

[2017-02-06 20:11] kiranisaac commented on #26
Within Facebook, we read the data out of Beringei and write it to HBase. This feature is part of our long term roadmap. For the short term, we are more interested integrating with stats collection tools.

If the community feels like persistent long term storage is very important, we are will adjust our plan accordingly.

cc: @jteller

[2017-02-06 23:19] mikeb01 commented on #21
Would you consider a PR that would make it possible to use millisecond timestamps?  It would be nice if the time unit could be specified on a per time series basis.

[2017-02-06 23:48] scottfranklin commented on #21
We would definitely be open to this; sub-second data has been on our wishlist for a long time.

The big issue, though, is that simply multiplying all the timestamps by 1,000 is likely to break or significantly reduce the efficiency of the compression algorithms, which have a limited number of bits for each field.  We'd need to figure out how to do this without breaking the existing functionality.

[2017-02-07 02:47] cbanek commented on #23
Just to chime in here, I'm on 16.04 and have also seen this behavior.  It's the only problem in having it work on 16.04, and once I've gotten past that, I'm able to run things.

I believe I ended up editing the makefile in that directory, fixing the path referenced in facebook/fbthrift#193 which ended up getting passed to python install, and that got me unblocked.

[2017-02-07 02:54] q96456 commented on #26
Can I see it as a recent data of snapshot?

[2017-02-07 06:10] mikeb01 commented on #21
I'd like to have a look and some pointers would be useful.

As for the compression, I was hoping that the double-delta algorithm specified in the gorilla paper would mean that the compression would be roughly similar as long as the timestamps occurred at regular intervals.

[2017-02-07 07:17] kiranisaac commented on #26
@q96456, I am sorry, I don't understand the question. Could you rephrase it?

[2017-02-07 13:00] naude-r opened #27 "tag support?"
is there any way to associate tags with metrics? would such a feature be on the roadmap?

[2017-02-07 20:25] kiranisaac commented on #27
We do not have support for tags. Currently, this is not on our roadmap.

[2017-02-08 00:59] kiranisaac commented on #23
@bassdread Are you ok with us closing this Issue?

[2017-02-08 01:00] #25 closed

[2017-02-08 01:01] kiranisaac commented on #24
@u382514 Are you ok with us closing this issue?

[2017-02-08 01:01] #22 closed

[2017-02-08 01:47] u382514 commented on #24
Yes sir! I missed the part in the readme that clearly stated that this was tested in 16.10. My fault!

[2017-02-08 01:47] #24 closed

[2017-02-08 06:35] naude-r commented on #27
thank you for the quick response.

[2017-02-08 06:35] #27 closed

[2017-02-08 19:43] kiranisaac commented on #23
I think this issue is resolved.

@cbanek: Thanks for confirming that the temporary workaround works.

[2017-02-08 19:43] #23 closed

[2017-02-09 07:30] cbanek commented on #21
I am also interested in multiple time bases.  Millisecond (or nano even) would be amazing.  Based on the comments about the assumptions sprinkled in the code, I ran a few simple benchmarks.  For these, I'm just using one shard, direct BucketMap calls, and inserting a value of 0 with monotonically increasing timestamps, and then recording the size on disk of 100 million points, split equally among

[2017-02-09 20:18] mikeb01 commented on #21
Are you able to post the code for the benchmark?

[2017-02-09 22:10] cbanek commented on #21
Sorry - I actually got these numbers by hacking it in as a storage engine for a stack I'm working on.  I'll try to come up with a self contained benchmark and post it.

[2017-02-10 03:42] mikeb01 commented on #21
There is a feature in the store that discards data points that are within a certain time of the previous data point.  By default this is 30s, which could explain your results (rather than the compression algorithm).  E.g. look at the 15 and 60 values.  With a delta of 60 none of the values would be discarded, with 15 approx. half would be.  The data set size for 15 is approx. half of the data set

[2017-02-11 07:25] cbanek commented on #21
Thank you so much mikeb01 for pointing that out!  That's new to me, but I found the flag you mentioned (mintimestampdelta) and set that down to 0.  When I do that, the size for all the other runs goes up to about  820 MB, which is what you'd expect when I stopped dropping values.

To go back to the original question, if the size isn't that different with larger timestamp deltas what parts of the c

[2017-02-13 04:06] mlgood commented on #26
@q96456 is the question whether data in beringei is effectively a snapshot of recent data?

At Facebook, data in Beringei functions as a write-back cache of the most recent 24 hours worth of data.  As @kiranisaac mentioned above, within Facebook we read the data out of Beringei and write it back to HBase.  What we've open sourced here can, at any point in time, be seen as a snapshot of the previou

[2017-02-13 04:07] mlgood commented on #17
Are there any remaining questions here?

[2017-02-13 09:03] hshopeful commented on #26
@mlgood in the paper, it claims that "Gorilla functions as a write-through cache of the most recent data entering the monitoring system", but in your above answer, you says that "Beringei functions as a write-back cache of the most recent 24 hours worth of data".
write-through or write-back, which one is accurate?

[2017-02-13 21:08] jteller commented on #26
@hshopeful - The answer to your question is "yes"

When we wrote the paper, it was implemented as a write-through cache (because the process that wrote to Gorilla also wrote to HBase long term storage). Now, it's used as a write-back cache (all data is streamed into Gorilla/Beringei and a different service reads from Gorilla/Beringei and writes to HBase). We made the switch because it allowed for

[2017-02-14 01:06] hshopeful commented on #26
@jteller thanks for your answer. I have another questions.

1、In the interior of Gorilla, it writes data in-momory, it also persists data in disk almost at the same time, can I understand that the write policy in the interior of Gorilla is write-through?

2、In the source code, I can not find the "ShardManager" which mentioned in the paper, and I find something relative to it in "BeringeiConfigurat

[2017-02-14 01:40] jteller commented on #26
@hshopeful - good questions! Based on them though, it sounds like the original question was answered.

1. Beringei/Gorilla disk persistence is like a "write behind" log. It buffers a small amount of data in memory before flushing to disk. On catastrophic failure, data buffered but not flushed to disk will be lost - but on graceful shutdown no data will be lost. In practice, the performance boost f

[2017-02-14 01:40] jteller commented on #26
I'm going to close this issue as resolved as I believe we have answered the original question

[2017-02-14 01:40] #26 closed

[2017-02-14 03:25] vmukumar opened #29 "Is it possible to configure value for data retention? (I found in a document that data will be cached for 26hours)."

[2017-02-14 19:48] scottfranklin commented on #29
Beringei breaks data into time slices. By default it stores 13 x 2hr complete slices plus the one currently receiving data, resulting in 26-28hrs of retention depending on the current time.

You can adjust this with the [--buckets and --bucket_size](https://github.com/facebookincubator/beringei/blob/master/beringei/service/BeringeiServiceHandler.cpp#L29-L33) flags.

There's a bit of a trade-off he

[2017-02-14 20:10] scottfranklin commented on #21
@jeffdshen is currently working on adding splay to the data windows (so all the shards don't tick over from one bucket to another in the same second), and in the process he's refactoring and centralizing a lot of the timestamp-related logic.
The first of those changes is [here](https://github.com/facebookincubator/beringei/commit/22d580ec18dc7da85a330fd9f1840ea1ae845bf6).

That said, what we're mo

[2017-02-15 20:52] mikeb01 commented on #21
I'm okay with a command line option (my initial hack at home included this).  My only concern is what would happen after a restart if the command line option was changed.  Would the bucket map remember the granularity of the timestamps of the existing data?

[2017-02-15 23:07] vmukumar commented on #29
Thank you

[2017-02-16 03:07] mszone commented on #29
Thank you Scott for your response.
Quick clarification. Can you please provide what are the trade-offs and overheads by increasing the bucket size or number of buckets. We need more than 8 days worth of data for setting up the week-over-week alerts. If it is stored in long-term storage, the retrieval of the data from long-term storage will be slower. So please advise what will be best to keep more

[2017-02-16 18:28] jteller commented on #29
More buckets at the same bucket-size means you get more retention.

Increasing bucket size while decreasing the number of buckets (so you get the same retention) means that you get slightly better compression within a bucket. However, since only "full" buckets are dropped from the end of Beringei, it means that the "extra bucket" you need to keep around to make sure you always have at least 8 days

[2017-02-16 18:28] #29 closed

[2017-02-17 01:56] mlgood commented on #14
Are there any remaining questions here?

[2017-02-17 05:05] asafm commented on #14
Nope
On Fri, 17 Feb 2017 at 3:56 mlgood <notifications@github.com> wrote:

[2017-02-17 14:10] drscre commented on #14
@mlgood
Actually, yes.
If you give Prometheus enough memory to fit all your 1 day data, it will act very similar to in-memory database.
It makes sence to compare Prometheus and Beringei in setup where Prometheus is allowed to use the same amount of memory as Beringei.

[2017-02-17 18:56] mlgood commented on #17
It seems like this has been mostly resolved, so I'm going to close the issue.  Please feel free to open a new issue if there are any additional questions, and thanks for the interest in beringei!

[2017-02-17 18:56] #17 closed

[2017-02-20 02:51] scutojr opened #31 "Can you introduce how Beringei supports cluster?"

[2017-02-20 05:18] linuxfood commented on #31
Assuming you mean how does Beringei scale, it does this by sharding the data across many nodes.

When you setup Beringei, you generate a configuration file that's read by both the server and the clients. This file contains, amongst a little bit of other information, the shard map. This defines which shards belong to which instances (host:port) of Beringei. It's important that the clients and serve

[2017-02-20 20:31] bassdread commented on #23
Yup, sorry for the late reply.

[2017-02-21 01:32] scutojr commented on #31
It solves my problem and thanks for your answer.

[2017-02-21 01:32] #31 closed

[2017-02-21 07:21] colerowen opened #32 "BucketMap::deleteOldBlockFiles is not called"
it seems that BucketMap::deleteOldBlockFiles is not called?

[2017-02-21 16:02] jteller commented on #32
You are right -- looks like we missed porting the "cleaner thread" over to the open source service handler.

Diff coming up

[2017-02-24 11:19] firstsko opened #33 "how to install on centos/rhel"
how to install on centos/rhel

[2017-02-24 17:01] linuxfood commented on #33
Hi! Thanks for your interest in Beringei.

Installing on CentOS/Redhat is much the same as Ubuntu. You'll need all the equivalent dependencies as listed in setup_ubuntu.sh. Right now we only officially support Ubuntu 16.10 since we have limited resources. We'd rather it work well, and easily on one platform than overextending ourselves too soon. You'll likely need to build a number of the dependen

[2017-02-24 17:01] #33 closed

[2017-02-24 17:55] at15 commented on #33
@firstsko you can try vagrant (which is a ubuntu vm that use the `setup_ubuntu.sh`), it works pretty well on Fedora, so I guess it should work well on centos/rhel.

[2017-02-24 20:58] jteller commented on #32
https://github.com/facebookincubator/beringei/pull/34 to add in the cleaner thread (which is what calls that file).

[2017-02-24 23:18] #32 closed

[2017-03-07 09:53] colerowen opened #35 "getData failed. Reason: N6apache6thrift9transport19TTransportExceptionE: Channel is !good()"
when i use the clientImpl  to get data from beiringei using multithreads ,   "BeringeiNetworkClient.cpp:203] getData failed. Reason: N6apache6thrift9transport19TTransportExceptionE: Channel is !good()" appears.
What will cause this?

[2017-03-07 17:22] jteller commented on #35
We need way more info to answer this question ... how are you actually using the client?

However, the get() method is not thread safe - so if you try to use the client from multiple threads simultaneously, you will get errors like this.

[2017-03-08 02:47] colerowen commented on #35
Ten threads keep running ,  each thread runs as follows:
while(1)
{
	for(int i=0;i<FLAGS_pointsPerRound; i++)
	{
		gorilla::GetDataRequest request;
		request.keys.emplace_back();
		request.keys.back().key = m_keyList[pos];
		request.keys.back().shardId = std::hash<std::string>()(request.keys.back().key) % m_shardCount;
		request.begin = start_time;
		request.end = end_time;

		gorilla::GorillaResu

[2017-03-08 15:57] jteller commented on #35
To fix this, you'll need to create a new client for each thread, as m_client (which looks to be shared across threads) is not thread safe.

[code]

[2017-03-09 00:17] shanson7 opened #36 "[question] How to handle replication?"
Beringei is blazing fast for reads and writes, which makes it a natural choice for a write-through cache for almost any TSDB out there. With Beringei in front of long-term persistent storage mechanisms, roll-ups/aggregations/bulk writes become trivial to implement (compared to streaming/dynamic partitioning). However, losing a node may lead to downtime if the queries needed for these operations. R

[2017-03-09 01:03] linuxfood commented on #36
The way we handle this is by putting the on disk recovery information on shared storage and then having multiple shards for each cluster of Berengei. When a node dies we update the shard map (which node owns which shards) and another node will recover from the shared storage. Basically, Beringei delegates this problem to your file system and configuration distribution systems. We tried to make it

[2017-03-09 01:16] linuxfood commented on #36
To do this with your deployment, when you generate the config using `./beringei/tools/beringei_configuration_generator --host_names $(hostname) --file_path /tmp/beringei.json` (from the README) by default if you give us more than one host name, we'll assign shards to hosts in a round-robin fashion, however you're free to use whatever mechanism you want to update or create the assignment. You'll ne

[2017-03-09 01:36] kiranisaac commented on #36
To add to @linuxfood's answer, Beringei Client can write to multiple Beringei Services. We run multiple services internally and always write to all of them. When a node is restarted or an update is being performed, our configuration management system makes sure that we don't read from that service/node.

[2017-03-09 17:52] shanson7 commented on #36
Interesting stuff!
@linuxfood - Is this a dynamic configuration or does reassigning the shards require node restarts? Have you automated this via an external process?
@kiranisaac - Are you saying that you have multiple copies of the data in memory? How do you deal with partial successes? Is this an active/active set up?

I think these solutions are feasible. I was thinking down the path of automat

[2017-03-09 18:03] linuxfood commented on #36
@shanson7 nodes automatically reload the config on a regular basis, and so pick up new shard assignments too. Internally we have a system called ShardManager that tightly integrates with our infrastructure and uses zookeeper for keeping state, so we don't actually use this config based implementation of sharding. One of the key problems that is left unsolved here is load balancing, unfortunately.

[2017-03-09 18:05] kiranisaac commented on #36
Yes, we have multiple Beringei Services (each service has multiple hosts) that keep the data in memory. For reads, yes, it is an active-active setup where the client routes to the closest  read enabled Beringei service.  Regarding partial successes, we disable the service for reads if there is a significant drop. If the data drop is small and for a short duration, we don't do anything.

[2017-03-09 18:44] shanson7 commented on #36
Does this mean that a Service that experienced a failure/downtime is out of read availability until the gap "times out" (e.g. 24 hours if you are keeping 1-day in Beringei)?

[2017-03-09 19:23] mlgood commented on #36
Slight correction: we have a little more resilience than has been mentioned above and do not necessarily have to disable a tier from reads if there is a small drop in availability.

There is a status code Beringei can return called MISSING_TOO_MUCH_DATA which beringei uses when it realizes that it has some data, but has gaps.  The logic for when that status code is used is in service/BeringeiServi

[2017-03-09 21:38] shanson7 commented on #36
Ah, yes. Ok, this makes sense then.

So, in summary, multiple Beringei Services are running with independent copies of the data. Writes go to all of them, reads are balanced with failover logic if significant gaps are found.

If a node drops out of the Service cluster, other nodes pick up it's shards (using ZK to manage who get what) and recover the shard states from the shared filesystem.

[2017-03-09 21:45] mlgood commented on #36
@shanson7 yup, that's how it works.  Do you have other questions here, or have we addressed this issue?

[2017-03-09 21:58] shanson7 commented on #36
Do you think there is a place for in-Service replicas (i.e. single Service maintains multiple copies)?

I can think of cases like rolling restarts where in the multi-Service case, there would be non-aligned gaps (e.g. Service 1 had restarts in the morning and therefore gaps, Service 2 had them in the afternoon. If you query for all day, both services have gaps, but together they present the whole

[2017-03-09 22:15] linuxfood commented on #36
@shanson7 The way we handle that sort of thing is that we have a query engine and metadata service outside Beringei, the query engine asks the metadata service to do the complex regex/prefix/postfix/etc matching, and then issues precise queries to Beringei based on those results. This is nice because it keeps each component self contained and doing one primary job.

In general, we haven't needed i

[2017-03-09 22:20] shanson7 commented on #36
Re: query service outside of Beringei - Doesn't that mean a lot of network chatter for aggregations on high cardinality tags? For instance, sum/count/avg request times across all users could be done more efficiently by computing partial aggregations locally and sending those back instead of all the raw data.

Re: Moving shards for restarts - Duh, that makes a lot of sense! I didn't think of that 😄

[2017-03-10 02:29] linuxfood commented on #36
Query service: We get a lot of benefits from separating the compute from the storage work. It's easier to characterize each individual workload, and tune appropriately than it is to handle a mixed compute+storage workload. These things often need different resources from the hardware, and can often interfere with each other.

[2017-03-12 01:12] linuxfood commented on #36
@shanson7 I'm going to close out this issue. Feel free to reopen if you have any more questions :)

[2017-03-12 01:12] #36 closed

[2017-03-14 02:32] colerowen commented on #35
thanks ,it solves my problem.

[2017-03-14 02:33] mlgood commented on #35
Glad your issue is solved!  I'll go ahead and close then :)

[2017-03-14 02:33] #35 closed

[2017-03-14 02:52] colerowen opened #37 "how to export data in beringei"
assume beringei is used as a write through cache any TSDB，how to export data in beringei to other tsdb , calling getShardDataBucket () for each shard or reading all block data files and keylist file, which  is preffered?

[2017-03-14 04:01] mlgood commented on #37
We use getShardDataBucket().

[2017-03-15 12:06] colerowen opened #38 "correcting timestatmp to now leads to inaccuracy"
timestatmp will be correct to now if it lags behind of or lead now too much.
this will be done in BeringeiServiceHandler::putDataPoints() as belows：
if (dp.value.unixTime < now - FLAGS_allowed_timestamp_behind) {
      dp.value.unixTime = now;
      GorillaStatsManager::addStatValue(kDatapointsBehind);
    }

    if (dp.value.unixTime > now + FLAGS_allowed_timestamp_ahead) {
      dp.value.unixTim

[2017-03-15 20:07] jteller commented on #37
Seems done to me :-)

[2017-03-15 20:07] #37 closed

[2017-03-16 23:42] mlgood commented on #38
There isn't a clear decision here that's right in all contexts.  In our setup, we've made the decision that its better to keep the data and make the timestamp something that beringei can accept rather than drop data entirely.

[2017-03-17 01:43] #38 closed

[2017-03-19 02:03] mlgood commented on #21
@mikeb01 Sorry, it looks like we haven't answered your question.  Since right now beringei only supports one granularity of timestamp, the bucket map implicitly knows the granularity of the timestamps so this isn't an issue.

It sounds like you're asking whether there would have to be support in the files that were read on restart to know if they were created using the same granularity of data?  T

[2017-03-31 22:47] jteller commented on #13
Closing this issue - looks to me like #18 will cover this, if implemented correctly

[2017-03-31 22:47] #13 closed

[2017-04-13 12:02] baolinCloud opened #39 "Error setup on Ubuntu 16.04.2"
I got the same issue with https://github.com/facebook/folly/issues/571

Should I modify something?

[2017-04-13 15:53] jteller commented on #39
This is the same as https://github.com/facebookincubator/beringei/issues/24

Our tested/supported version is Ubuntu 16.10 - so we recommend that you use Ubuntu 16.10.

[2017-04-14 00:54] baolinCloud commented on #39
OK,thanks!

[2017-04-14 00:54] #39 closed

[2017-04-19 08:01] colerowen opened #40 "getData failed, thrift exception on centos"
calling getData() by multithread(Each thread uses its own client) on centos will raise this error 。 There's no such problem on Ubuntu。
Is there any other reason that will cause this error?

[2017-04-19 15:07] jteller commented on #40
I really don't know, as we've only tested on Ubuntu 16.10

This seems like something may be broken with the thrift server or client.

[2017-04-19 20:36] linuxfood commented on #40
@colerowen  Can you provide us with some more data on the problem? For instance, are the client and server on the same machine? The same network? If possible a stack trace showing where in Beringei client this gets thrown would be helpful, as would any logs from the Beringei server (which may have some information like if thrift terminated the connection for some reason.)

This exception means tha

[2017-04-20 03:33] colerowen commented on #40
client and server are on the same network.
When this error is raised on client ,  theres is nothing in log on the Beringei server.

[2017-04-20 03:50] colerowen commented on #40
besides, putDataPoints also raises this error ,but not as frequent as getData :
E0420 11:15:10.977551 15714 BeringeiNetworkClient.cpp:129] putDataPoints Failed. Reason: apache::thrift::transport::TTransportException: Channel is !good()

[2017-04-25 05:46] mszone opened #41 "Beringei Java Client"
Hi,

We are working on Java Client Binding for Beringie & also adding the tags support. Please let us know how to submit our code to Beringei. Here is the initial version (we will update the documentation soon)  https://github.com/wowcoders/tspark
https://github.com/wowcoders/tspark/tree/master/beringeiclient includes the java client and https://github.com/wowcoders/tspark/tree/master/TSPark conta

[2017-04-28 20:14] linuxfood commented on #41
Hi, thanks for being interested in Beringei!

We really appreciate the work you've put into this. Unfortunately, at this time we don't have the resources to help support a Java client in the main repository. Beringei is under active development internally, and our focus is on the service itself, and really good C++ clients first.

Please do keep us updated with the development progress and feel fr

[2017-04-28 20:21] linuxfood commented on #40
Hi @colerowen the issue with `putDataPoints` looks similar in that it seems as though there isn't an active connection. The fact that the server doesn't say anything as well supports that. Are you able to use the standalone `beringei_put` and `beringei_get` utilities to talk to the server? Have you made sure that your clients are using the right configuration? We use glog for logging, so you may a

[2017-05-08 10:31] colerowen commented on #40
beringei_put and beringei_get works fine, and clients  are using the right configuration because this error occured after running for a while.
i add -v=5 to client and server, and the server still doesn't say anything  when this error occurs in client.

[2017-05-08 11:13] mihaivolmer opened #44 "putDataPoints() issue, shard is not owned"
I am currently using the `beringei_put` and `beringei_get` utilities. I am running everything locally, so I use a simple configuration with `localhost` as hostname. Also, I am using Ubuntu 17.04.
Whenever I try to insert data, I have the following issue:
When `putDataPoints()` is called, the program flow always ends up in the branch for shard not owned ([code link](https://github.com/facebookincub

[2017-05-08 17:49] mlgood commented on #44
Have you configured a beringei configuration file, as described in the README?  BeringeiConfigurationAdapter (under plugins/) reads the config file to determine which shards are owned by which hosts.  It sounds like the config doesn't yet exist showing that the host owns that shard, so beringei is refusing to putDataPoints (and likewise, can't serve get requests).

[2017-05-08 20:44] linuxfood commented on #40
@colerowen OK, that's interesting. To help, we'll definitely need some more information. Anything you could provide about the circumstances of the failure to help us reproduce it locally would be great. Even better of course would be if you could share some simplified code that reproduces the issue.

Can you try running the client and/or server with `-v=7`? It looks like some of the debugging info

[2017-05-08 20:49] mihaivolmer commented on #44
@mlgood Yes, I have created one with the following command

Also, I noticed that `beringei_main`, `beringei_put` and `beringei_get` will crash when the configuration file is not present. I have used the same configuration file for each of them.
Basically, I followed the instructions from the README line by line with above-mentioned result.

[2017-05-09 09:30] colerowen commented on #40
I tried -v=7,  but nothing new appears.
log in client:
E0509 17:25:47.611810 10536 BeringeiNetworkClient.cpp:203] getData failed. Reason: apache::thrift::transport::TTransportException: Channel is !good()

log in server:
I0509 17:29:56.694855 27410 FunctionScheduler.cpp:370] Now running file-poller
I0509 17:29:57.211751 27412 FunctionScheduler.cpp:370] Now running updateMemoryStats

[2017-05-09 09:35] colerowen commented on #40
the exact same client code works fine in ubuntu.

[2017-05-09 20:35] linuxfood commented on #40
@colerowen Trying to debug platform issues (Ubuntu vs. CentOS) is challenging over a Github issue. There are a lot of configuration differences between the two at the system level: the network stacks are tuned differently, different firewall configurations, different system libraries, and more that could certainly be messing something up. Too many for us to be able to help on that alone. For what

[2017-05-10 05:10] colerowen commented on #40
using -v=7 now works for client, log as follows:
I0510 11:48:34.218888 17599 EventBase.cpp:166] EventBase(): Created.
I0510 11:48:34.218910 17599 AsyncSocket.cpp:190] new AsyncSocket(0x7f8014001b10, evb=0x7f80140014a0)
I0510 11:48:34.218924 17599 AsyncSocket.cpp:392] AsyncSocket::connect(this=0x7f8014001b10, evb=0x7f80140014a0, fd=7, host=192.168.0.13:9999
I0510 11:48:34.221463 17599 AsyncSocket.c

[2017-05-10 05:12] colerowen commented on #40
it reproduced when i runned single-threading,  channel error still appeared from time to time.

[2017-05-12 06:35] linuxfood commented on #40
So, this is the relevant bit from the logs:
[code]

The error _"Cannot assign requested address"_ means that something is going on at the network layer, which kind of out of scope for us helping you. I'd check that at least all the sockets that are being opened are getting closed to ensure that you're not exhausting the available sockets on the machine (which seems likely, since these file descrip

[2017-05-17 20:09] mlgood commented on #44
I'm sorry for the delay in responding @mihaivolmer.  A few more questions: how long have you typically waited before issuing the call?  Has this line:
https://github.com/facebookincubator/beringei/blob/master/beringei/service/BeringeiMain.cpp#L78
printed on the server you are talking to?

I suspect the answer to be "yes" but want to rule out the easy problems first.

[2017-05-22 11:22] devvsda opened #45 "Not able to install beringei on EC2 machine."
I tried to install beringei on AWS EC2 machine, but it is failing while executing bash script -
 "setup_ubuntu"

**Failing at-**

**Exception** -

**EC2 machine details**-
I tried on  Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-74-generic x86_64), and 16.04 ubuntu version machine.

I suspect some library is missing, please guide how to fix this ?

[2017-05-22 22:41] linuxfood commented on #45
Do you have a complete log? It looks like the `mstch` installation either wasn't complete, or there's been some drift in the libraries that we need to fix.

[2017-05-23 11:13] devvsda commented on #45
[setup_logs.txt](https://github.com/facebookincubator/beringei/files/1021909/setup_logs.txt)

Attached logs of setup_ubuntu.sh script.

[2017-05-23 20:16] scottfranklin commented on #45
It looks like you updated the version tag to 2017.05.08.00?

I see a different, but also mstch-related error when building from that version.

That said, it seems to work fine from both the existing 2017.04.24.00 and the newer 2017.05.22.00 tags.

Do you have any other local changes to `setup_ubuntu.sh`?
It's working correctly for me on a clean Ubuntu 16.04 install with this patch applied:
[code]

[2017-05-26 05:47] devvsda commented on #45
I applied your patch, and also deleted

Still it is failing but in different step. Attaching complete log.

[setup_logs.txt](https://github.com/facebookincubator/beringei/files/1030914/setup_logs.txt)

[2017-05-26 17:59] scottfranklin commented on #45
That log file doesn't have any errors in it.

It looks like you only captured stdout, not stderr?
You probably want something like `sudo setup_ubuntu.sh 2>&1 > setup_logs.txt`

[2017-05-27 07:58] devvsda commented on #45
executed command -> sudo setup_ubuntu.sh 2>&1 > setup_logs.txt

Attached output file. Please check.
[setup_logs.txt](https://github.com/facebookincubator/beringei/files/1033394/setup_logs.txt)

[2017-05-30 06:30] devvsda commented on #45
Gentle reminder.

[2017-06-03 20:07] linuxfood commented on #45
Apologies on the delay. The 29th was a holiday for us. I've looked closer at the second log you've posted and at the original bug report. There's one main issue. I just saw from your bug report, that you first tried 14.04, and then 16.04. Our minimum requirement for building is Ubuntu **16.10**.

The main issue with those are that the system libraries on them are too old. You *might* be able to ge

[2017-06-03 20:07] #45 closed

[2017-06-10 07:36] mlgood commented on #44
@mihaivolmer just checking in, is there still an issue here?

[2017-07-03 13:48] vritxii commented on #23
I have same problem
`Checking .pth file support in usr/lib/python3/dist-packages/
/usr/bin/python3 -E -c pass
TEST FAILED: usr/lib/python3/dist-packages/ does NOT support .pth files
error: bad install directory or PYTHONPATH

You are attempting to install a package to a directory that is not
on PYTHONPATH and which Python does not read ".pth" files from.  The
installation directory you specified (

[2017-07-08 01:55] mlgood commented on #44
@mihaivolmer I'm going to close this issue since there hasn't been an update.  If you encounter issues in the future, please feel free to open a new issue.

[2017-07-08 01:55] #44 closed

[2017-07-17 06:46] treedom opened #48 "How can solve the fbthrift dependency problem on Mac OS X"
**Target :** the purpose to build fbthrift is to get the lib(maybe libfbthrift.dylib) to solve the compilation dependency of Beringei(because i find 'find_package(FBThrift REQUIRED)' in its CMakeList.txt)
**Problem :** my os is Max OS sierra and i do :

1)git clone fbthrift

2)cd thrift && thrift && autoreconf -ivf && ./configure && make install

but, in step 2) i get the err :

'Reason: unsafe us

[2017-07-17 18:05] manolama opened #50 "[Docker] Failed to write or read data using Readme examples"
Hiya, I fixed up the Docker file in pr #49 to compile and launch Berengei. But running the example CLI tools it fails to write the data. This is the same issue seen in #44.

Beringei is launched via ``docker run -d -p 9999:9999 --name beringei --privileged=true beringei:SNAPSHOT``

and it's running ala:

``root         7  0.0  4.9 3130224 100960 ?      Sl   17:54   0:00 ./beringei/service/beringei

[2017-07-17 18:27] manolama commented on #48
You may want to cross-post in the fbthrift project, see if they have any ideas. Otherwise try the Docker file or Vagrant to run Beringei under Mac for now.

[2017-07-17 19:04] manolama commented on #50
Heard from @scottfranklin that it is indeed a hostname resolution issue. The docker containers typically resolve to that hash issue. I'll play around with DNS settings and the config to see what I can get working then add that to the Docker notes, etc.

[2017-07-18 04:42] manolama commented on #50
Using the Docker host's hostname lets Beringei load the shards and function properly. E.g.

``docker run -d -p 9999:9999 --name beringei -h <HOSTNAME> -v /my/local/configdir/beringei.json:/usr/local/beringei/beringei.json --privileged=true beringei``

[2017-07-18 04:42] #50 closed

[2017-07-19 19:41] mlgood commented on #48
@manolama is correct -- we don't currently have support for building beringei directly on Mac OSX without using virtualization/containers.  We currently support Ubuntu 16.10.

[2017-07-25 20:24] jteller opened #51 "Build broken by SpookyHash move"
5035d573239a40f10ad964f340ecc98367bf4532 breaks the build, because folly changed but we're pulling a specific revision.

I can fix this, but wanted to get in with an issue before others trip over it and are confused.

[2017-07-27 21:51] scottfranklin commented on #51
Bumping the dependency version tag in `setup_ubuntu.sh` doesn't work because the fbthrift build is broken. Waiting on facebook/fbthrift#219, which will still require waiting for the next Sunday release unless we want to check out a particular fbthrift commit hash instead of a tagged version.

[2017-07-28 00:47] mlgood commented on #48
@treedom do you have any other questions for us?

[2017-07-31 19:37] jteller commented on #51
https://github.com/facebook/fbthrift/pull/219 fixes the fbthrift side of things. We will have a diff up soon to point to that newer version of that code.

[2017-08-01 00:33] scottfranklin commented on #51
#52 should fix the build

[2017-08-04 19:26] mlgood commented on #48
I'm going to go ahead and close this issue.  Please feel free to open a new issue if there are problems getting Ubuntu 16.10 set up.

[2017-08-04 19:26] #48 closed

[2017-08-08 08:06] juesexingqiu opened #53 "Starting beringei fails"
**when i run the command below to start beringei**
./beringei/service/beringei_main \
    -beringei_configuration_path /tmp/beringei.json \
    -create_directories \
    -sleep_between_bucket_finalization_secs 60 \
    -allowed_timestamp_behind 300 \
    -bucket_size 600 \
    -buckets $((86400/600)) \
    -logtostderr \
    -v=2
**a part of result is as follow**
E0808 15:12:03.404348 13065 Bucket

[2017-08-10 15:10] jteller commented on #53
Could you provide us with more details? To me it looks like Beringei started successfully. I think the messages you sent are benign error messages that happen when no data is written to Beringei and it attempts to finalize an empty bucket.

[2017-08-11 18:59] jteller commented on #53
Working on this locally - this may not be a benign error. However, I cannot repro it.

I need more information to help you get to the bottom of the issue. What OS? How are you running it? What is the overall environment you are running in? How many shards? etc, etc

[2017-08-15 02:51] juesexingqiu commented on #53
My OS is Ubuntu 16.10。 I only run these commands as follows
step one：sudo ./setup_ubuntu.sh
step two：mkdir build && cd build && cmake .. && make
step three：./beringei/tools/beringei_configuration_generator --host_names $(hostname) --file_path /tmp/beringei.json
step four：
./beringei/service/beringei_main \
    -beringei_configuration_path /tmp/beringei.json \
    -create_directories \
    -sleep_b

[2017-08-15 16:15] jteller commented on #53
Lots of questions :-)

I mean that this error being printed may not actually impact the running of the service ... or it may indicate that there was a failure at some point before it started printing that line, causing lots of issues. Can you repro this consistently? What revision are you at that you see this error? The build on the master branch is broken at the moment, so you must be running som

[2017-08-15 21:15] at15 commented on #53
disclaimer, I am not a contributor to beringei, just my personal opinions

For the implementation of compression, you can check out https://github.com/dgryski/go-tsz , both Prometheus and InfluxDB are based on this implementation, and there are some differences with the original paper #17

And I don't think you should use beringei unless your company's business is monitoring or you have strict req

[2017-08-21 01:56] juesexingqiu commented on #53
@jteller
Thanks a lot! When i compile source code at first time, the error about "SpookyHashV2.h" occurs. So i modify the location of referencing file in some file including the header file and then compile successfully. But when i start Beringei, the error about "Trying to finalize an expired bucket" occurs. I don't know whether the error is related to my modification about the location.

[2017-08-21 01:59] juesexingqiu commented on #53
@at15
Anyway. Thanks. The material you provide is helpful greatly to me.

[2017-08-23 15:41] mlgood commented on #53
@juesexingqiu we're aware of the build break and working on a fix:
https://github.com/facebookincubator/beringei/issues/51

This change, locally, should fix the build break:
https://github.com/facebookincubator/beringei/pull/52

If you compile and run it at that point, do you still see the message print?  Also, that message doesn't mean that beringei isn't running, and I've seen it print before in

[2017-08-30 18:27] jteller commented on #53
With little more information on this, I'm inclined to call this issue done. If you want to ask more questions, please let us know though and we will continue investigating!

[2017-08-30 18:27] #53 closed

[2017-09-11 21:05] bu2 opened #54 "Beringei for IoT related sensors data"
Dear Beringei team,

I am exploring the usage of Beringei as a core data storage of time series in the context of Data Science / Machine Learning applied to IoT (sensors data).

Below, I introduce the story with my needs, constraints and questions. I would love to have any feedbacks on it !

- I need to handle hours of sensors data (up to 10 hours) at a time

- I have plenty of sensors, all with s

[2017-09-15 23:16] jteller commented on #54
Your use-case does not appear to be well supported (out of the box) by Beringei. For one discussion about the granularity of timestamps, you can refer to issue #21 .

A big thing about Beringei is scope of the project -- read @scottfranklin's comment in issue #14 for a point of view on how Beringei works. The main tl;dr is that it is amazing in terms of query latency and throughput, but that it ha

[2017-09-18 21:58] bu2 commented on #54
Thank for the feedback, it is much appreciated.

I understand that my use case would require significant work but actually I am evaluating if Beringei could be a good starting point or if I need to go for a clean sheet design.

The things I like in Beringei (and Gorilla's paper) are:

- it's written in C/C++ and so it is Python-friendly

- the core data types in the current implementation seems to

[2017-09-18 23:21] jteller commented on #54
Your list makes sense, but be aware:

Beringei, out of the box, cannot handle high resolution timestamps. unixTime is expressed in seconds, and it internally enforces both that it is storing data in realtime (it only allows data to be stored from now to some time period in the past), and that data points for a single time series are no closer together than 1x every 15 seconds. To support what you

[2017-09-19 00:21] bu2 commented on #54
I see,

Actually I am planning to work on a quick & dirty prototype in the following weeks to evaluate the feasibility regarding my use case. I will keep you updated about the result.

Thanks again for your inputs !

[2017-10-12 18:19] richardzhangrui commented on #36
@linuxfood Hi! We are very interested in using Beringei as our short term metrics system. You mentioned internally FB uses a metadata service to handle regex/prefix/postfix/etc matching. Would this metadata service become a bottleneck when data loading and querying?  Also how can you make sure metadata and data in Beringei is consistent?
Thank you!

[2017-10-24 19:53] bu2 commented on #54
Hi,

I have been diving into beringei source code for a while :)

As now, I have been able to write a time series with nanosecond precision and read some of its data back. But I faced some difficulties to unplug all the temporal logic specific to the original use case of Beringei :
- timestamp behind/after,
- all the uint32_t that come In the "timestamp to bucket to timestamp roundtrip"

It was th

[2017-10-24 19:53] #54 closed

[2017-11-10 21:15] taroplus opened #55 "Data ingestion rate = 1 per 30 seconds ?"
Hello, I was running some test and noticed that I can only get datapoint every 30 seconds. The datapoints in between those are dropped.

sending a counter value every second by running this
[code]

Then result for GET is
[code]

What am I missing, is this the expected behavior ?

[2017-11-10 21:36] jteller commented on #55
This is controllable via a commandline flag:

https://github.com/facebookincubator/beringei/blob/40584e0636f7e822e753b31ccdfe680ad43dc8ba/beringei/lib/BucketedTimeSeries.cpp#L13-L16

[2017-11-10 21:36] jteller commented on #55
add --mintimestampdelta=1 to allow 1 point per second.

[2017-11-10 21:36] #55 closed

[2018-01-03 11:16] Amos-Zhao opened #58 "make error"
i encouter fatal error while execute `mkdir build && cd build && cmake .. && make`,how can slove it
`[ 28%] Building CXX object beringei/lib/CMakeFiles/beringei_core.dir/BucketStorage.cpp.o
/usr/lib/beringei/beringei/lib/BucketStorage.cpp:15:43: fatal error: folly/compression/Compression.h: No such file or directory
 #include <folly/compression/Compression.h>

[2018-01-03 21:16] at15 commented on #58
It seems you didn't have `folly` installed (properly), see the [requirement section in README](https://github.com/facebookincubator/beringei#requirements), run `sudo ./setup_ubuntu.sh` might solve it if you are using Ubuntu 16.10.

You can also try docker and vagrant if you don't want to mess up your global environment.

[2018-01-04 07:51] SecondDog opened #59 "How can I use it in the iOS Dev?"
I want to build this libiary for the iOS platform. How to？

[2018-01-04 08:35] linuxfood commented on #59
Beringei is intended to store large amounts of time-series data on a server. Specifically its only been tested on x86_64 machines running Ubuntu. Can you provide some more details on what you're trying to do?

[2018-01-04 08:39] linuxfood commented on #40
I'm going to assume that this was resolved and close it out. Let us know if we can help further.

[2018-01-04 08:39] #40 closed

[2018-01-04 08:58] SecondDog commented on #59
I want to get some sensor data for machine learning which is time based

[2018-01-04 12:37] beverage commented on #58
The 2017.05.22.00 does not have this.  It looks like folly was refactored in October [453d5ff6](https://github.com/facebook/folly/commit/453d5ff6fdcb0a1e2c68efd90dcf40d053a5bceb#diff-6c8b83733e05845143940b7509cab8de), and Beringei was updated accordingly (d506c3f0), however ./setup_ubuntu.sh was not.

I'm tinkering around with an updated dependency set - versions of other deps from around the same

[2018-01-04 17:30] jteller commented on #59
The approach used in Beringei _should_ work fine no matter the platform - but as @linuxfood mentioned, it's wholly untested on anything except for x86_64, and the build environment is not at all setup for iOS.

You won't be able to build this library, as is, and incorporate it in your project. It's an exercise left to the reader to rewrite/modify the code to work on the platform of your choice.

[2018-01-04 17:31] #59 closed

[2018-01-11 21:17] linuxfood commented on #58
@beverage thanks for the investigation!

[2018-01-11 21:18] linuxfood commented on #41
I'm going to close this out for now. Thanks again!

[2018-01-11 21:18] #41 closed

[2018-01-12 02:51] huydx opened #61 "How to operate beringei in production"
I found that the document is lacking of guide to know what is the good way to operate beringei at production, where we need multi nodes and a good way to sharding.
I may miss a good document elsewhere, so if you have a good one, please tell me.

Thank you.

[2018-01-12 21:57] linuxfood commented on #61
Heya @huydx, this is definitely an area that could use some more documentation.
The tl;dr is that right now it's a bit of an "exercise left to the reader." What we use in production at FB is not quite what we've open sourced here, unfortunately. We have some internal frameworks we're not able to open source right now that handle some aspects of this problem for us.

Still, I can give you some guid

[2018-01-13 07:18] Amos-Zhao commented on #58
@beverage thanks a lot

[2018-02-08 23:18] dp-farm commented on #58
@beverage Any luck in getting the good FB version ?
I tried with 2018.01.29.00 and it fails then here -->

[code]

[2018-02-08 23:51] at15 commented on #58
@dp-farm I tried it with latest fb version ` 2018.02.05.00` on Ubuntu 17.10 (because old version of folly won't work with GCC 7), the compile failed at `ld` https://github.com/at15/beringei/pull/1

- the default script can no longer build fbthrift, because it switched to CMake instead of using autoconf

[code]
- thrift related code was generated using python compiler, but I didn't find it, so I us

[2018-02-24 00:03] asinghsfdc opened #63 "[question] beringei cibuild status"
Looking fwd to eval Beringei for few use cases at SFDC.
Is there a plan to promote it to github.com/facebook repo ?
CI Build's been red for some time, hope to see it turn green soon !

[2018-02-24 02:46] handsomewong opened #64 "Does it have aggregation?"

[2018-02-24 02:54] at15 commented on #63
@asinghsfdc the CI is failing because Ubuntu 16.10 is not LTS and no longer supported by Canonical

i.e. https://circleci.com/gh/facebookincubator/beringei/99

[code]

I did try compile with ubuntu 17.10 and newer version of fb packages (thrift, folly etc.) but I am not the only one facing compiling errors https://github.com/facebookincubator/beringei/issues/58

There are pending PRs address these

[2018-03-01 21:34] linuxfood commented on #64
Can you clarify what you mean by aggregation?

[2018-03-01 21:49] linuxfood commented on #61
Hi @huydx

Sorry for the extreme latency in my reply. We somehow missed the notification that you had commented with more questions!

Beringei was designed from the beginning to be able to handle multi-tenancy. So, while we have several different deployments around the world, they all hold a complete replica of the monitoring data. This reduces the application logic necessary to find a piece of da

[2018-03-04 12:03] haneefmubarak opened #65 "Alpha Prerelease?"
I know that this is an incubating project that is highly in flux, but would it be possible to tag a 0.x alpha prerelease? I'm tempted to try using this in a side-project, but I'd still like to not just refer to HEAD or a random commit hash.

Thanks!

[2018-03-06 23:52] JoeLoser opened #67 "[Question] Any interest in support Mac OS?"
Seems like as it is set up, the CMake build is only meant to support Linux builds (https://github.com/facebookincubator/beringei/blob/master/beringei/cmake/BeringeiCompilerOptions.cmake#L18).

Is there any particular underlying reason why other UNIX variants (such as Mac OS X) cannot be supported? Is there a desire from others, other than myself?

[2018-03-07 00:30] at15 commented on #67
I guess it's because the facebook cpp libraries beringei relies on won't compile on Mac OS, though I didn't managed to compile the latest version it on Ubuntu as well ...

I am also interested in Mac OS X support, mainly because building in docker or vm result in poor support editor (auto complete, jump to definition), unless you run a linux vm with GUI ...

[2018-03-07 00:38] JoeLoser commented on #67
Mind elaborating which libs that `beringei` depends on can't be built using Mac OS X? For example, I've worked on `Folly` before and got it smooth with Mac OS X now. Thrift built out of the box for me as well as did `Wangle`. I did not try `Proxygen`, however.

[2018-03-07 00:46] at15 commented on #67
@JoeLoser I am just guessing :sweat_smile: , I haven't use mac for a while, proxygen does say it don't support mac os in readme https://github.com/facebook/proxygen#installing

also it building depedencies varies between different fb-version https://github.com/facebookincubator/beringei/blob/master/setup_ubuntu.sh#L4

[2018-03-07 00:50] JoeLoser commented on #67
Ah, that is a very good point on Proxygen's `README.md` -- guess we would have to start there first and foremost.

Thanks for the insights, @at15

[2018-03-12 09:50] smallfish opened #68 "compile thrift IDL failed: Cannot use reserved language keyword: "begin""
Hi,

I used other language client to test beringei, compiled thrift(version: `0.11.0`) IDL like:

[code]

[2018-03-12 09:57] smallfish commented on #68
By the way, Ubuntu 16.10 is no longer supported, at new system/container apt-get/install will catched some source 404 not found errors...

[2018-03-12 14:59] at15 commented on #68
Are you using fbthrift? https://github.com/facebook/fbthrift And there is a pending PR https://github.com/facebookincubator/beringei/pull/62 for using 17.10

[2018-03-14 10:38] smallfish commented on #68
@at15 thanks a lot :)

[2018-03-14 10:38] #68 closed

[2018-03-26 20:52] joergkoch commented on #64
Aggregation means if the software is able to summarize data along a hierachy. So image you have time series data every 15 min, is is possible to sum all data on level say month or year as

select sum (value)
from table
group by month resp year

[2018-03-28 06:09] liqimore commented on #23
@vritxii
nice work! this perfectly fixed my problems.
With `python3 setup.py install --root="/" --prefix=~/custom_packge` You can install&complie you packge in a custom directory.

[2018-04-10 22:11] jburgess-viasat opened #69 "Grafana Read Server EventBase Loop in EventBase Loop"
Anyone seen this issue with the grafana read server entering an event loop (for beringei read results to come back) when it's already running in an EventBase loop for the HTTP server? It happens consistently for me using the head of PR 62 as well as the much older, but also buildable in ubuntu, 4f45b805451ba92a6a4fa3fb595cf5a2aacc2b0c commit. This is with a recent 4.6 grafana calling to query a me

[2018-05-04 06:26] indrjeetkumar opened #70 "Stable version to build beringei"
Hi Team,

I  am building the beringei application to develop the POC project.

I am running the setup with this version
FB_VERSION="2018.02.05.00"
ZSTD_VERSION="1.3.4"

Error:
-- Installing: /usr/local/facebook-2018.02.05.00/include/wangle/util/FilePoller.h
/tmp
/tmp/fbthrift-2018.02.05.00/thrift /tmp
autoreconf: 'configure.ac' or 'configure.in' is required
![berengi_setup2018 02 05 00error](https